<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Repaso vue.js</title>
</head>
<body>

    <div id="app" class="container">
        <h1>{{titulo}}</h1>
       
        <input type="text" v-model="nuevaFruta" @keyup.enter="agregarFruta">
        <button v-on:click="agregarFruta" >Agregar</button>

       <ul>
          <li v-for="fruta of frutas">
            <input type="number" v-model.number="fruta.cantidad"  >
             {{fruta.nombre}}
             <button @click="fruta.cantidad++">+</button>
             <button @click="fruta.cantidad--">-</button>
              <span v-if="fruta.cantidad === 0"> sin-stock</span>

          </li>
      </ul>
      <p>Total: {{total}}</p>

      <div :class="['p-3','text-white', fondo]">

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quae eaque id odit facere. Maiores, temporibus quidem! Culpa molestias quidem, praesentium quasi, rerum delectus possimus voluptas, unde soluta neque deleniti.</p>
      </div>
      <input type="text" class="form-control my-3" v-model="fondo">
      <div class="text-white p-3" :class="{'bg-info' : color, 'bg-success' : !color}">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae esse amet quisquam, expedita architecto ipsum, aliquid inventore enim deleniti placeat possimus quaerat laudantium animi ipsa eligendi facilis, magni dolores asperiores.</p>
      </div>
 
      
     
      <button class="btn btn-primary" type="button"  @click="color = !color">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
      </button>

      

    </div>



    <!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="0.1.js"></script>
</body>
</html>